body{
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background-color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.contenedor-general{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(3,42,81);
}
.contenedor-abs{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    z-index: 999;
    background-color: rgb(248,250,252);
}
.img-fondo{
    background: linear-gradient(to right,#000428e1,#004e92de),url('../img/center.jpeg');
    animation: movimiento 20s linear infinite alternate;
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }  
}
.bg-blue{
    background-color: rgb(3,42,81);
}

.bg-celeste{
    background-attachment: rgb(245,249,250);
}
.bg-blue-bold{
  background-color: rgb(1, 29, 58);
}
.bg-turquesa{
    background-color: rgb(5, 81, 156);
}
.bg-gray{
    background-color: rgb(244,245,251);
}
.bg-green{
    background-color: #41afa5;
}
.bg-green-light{
    background-color: #eef7fd;
}
.bg-green-light-2{
  background-color: #eff8ff;
}
/* text color */
.text-white{
    color: #ffff;
}
.text-black{
    color: rgba(0,0,0);
}
.text-white-light{
    color: rgba(255, 255, 255, 0.9);
}
.text-gray{
    color: rgba(0, 0, 0, 0.5);
}
.text-ambar{
    color:#f323a3;
}
.text-green{
    color: #41afa5;
}
.text-blue{
    color: rgb(3,42,81);
}

/* font-size */
.font-12{
    font-size: 12px;
}
.font-15{
    font-size: 15px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-25{
    font-size: 25px;
}
.font-30{
  font-size: 30px;
}
/*card  */
.card-contenedor{
    border-radius: 9px;
    background-color: #ffff;
}

/*table*/

.table{
    border-spacing: 2.5px; 
    border-collapse: separate;
    border-radius: 5px 5px 0 0;
    /* box-shadow: 0 0 20px rgba(0,0,0,.15); */
}
.table td{
    min-width: 3rem;
}
.table td, .table th {
    padding: .4rem .2rem;
    font-size:12px;
    border: 0.5px solid #e9e9e9 ;
    border-radius: 7px;
}

.table-4 td, .table-4 th {
  padding: .4rem .2rem;
  font-size:12px;
  border: 0px ;
  border-radius: 7px;
}

table td:nth-child(10){
    min-width: 1rem;
}
table td:nth-child(11){
    min-width: 1rem;
}


table tbody tr{
    background: #fff;
}
/* table tbody tr:nth-of-type(even){
    background: #f3f3f3;
} */

table tbody tr:last-of-type{
    border-bottom:2px solid rgb(3,42,81);
    /* #009879 */
}

/* modal */
.modalCarga{
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-resize{
    height:calc(100vh - 160px);
}

/* panel */
.panel-item a{
    color: rgba(0, 0, 0, 0.2);
}

.panel-item a:hover{
    color: rgb(5, 81, 156);
}

.panel-item:hover{
    background-color: rgb(244,245,251);
    color: rgb(0,0,0);
}

.h-100{
    height:100%;
}

.bg-orange{
  background-color: #e34b29;
  color: #fff;
}
/* list bg */
.bg-1{
    background-color: #008cd8; 
}
.bg-2{
    background-color: #91d500; 
}
.bg-3{
    background-color: #db1c13; 
}
.bg-4{
    background-color: #ff4c00; 
}
.bg-5{
    background-color:#ff4512; 
}

.icono-bars{
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 9px 15px 5px 15px;
    color: #4679cc;
}

.icono-bars:hover{
    background-color:  rgb(3,42,81);
    color:#ffff;
}

.subheader-title {
    line-height: 32px;
    font-size: 1.32rem;
    font-weight: 400;
    color: #505050;
    text-shadow: #fff 0 1px;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* menu admin */
.content-menu{
	position: fixed;
	overflow-y: auto;
	height: 100vh;
	width: 270px;
	z-index: 9;
    transition: 0.3s all;
    /* transform: translateX(-245px); */
    /* padding: 20px 20px; */
}
.content-body{
    margin-left: 270px;
    background-color: rgb(3,42,81);
    /* background-color:rgb(160, 85, 0); */
    transition: 0.3s all;
}
.contenedor-body{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #ffff;
    padding-left: 8px;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 10px 35px;
    background-color: #ffff;
}
.abrir{
	transform: translateX(-260px);
}
.p-left{
	margin-left: 10px;
}

.menu-option a{
  display: block;
  color: #f3f3f3;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
}
.menu-option a:hover{
  color: #ffffff;
  text-decoration: none;
  background-color:rgba(255,255,255,0.2);
}

.menu-option .menu-active{
  background-color:rgba(255,255,255,0.2);
}

/* ....................... */

.alert-green{
    background-color: #ebfffe;
    border: 1px solid #41afa5;
}

.font-bold{
    font-weight: 500;
}
.font-bold-4{
    font-weight: 450;
}

.border-top-blue{
    border-top: 1.5px solid rgb(3,42,81);
}

.border-top-red{
    border-top: 3px solid rgb(243, 187, 32);
}

.border-circle-end-red{
    border-bottom: 3px solid rgb(243, 187, 32);    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-phone{
    border-radius: 50px;
    background-color: #41afa5;
    color: #fff;
    padding: 5px 7px;
}
.btn-phone i{
    color: #fff;
}
.btn-phone:hover{
    background-color: #0e776e;
    color: #fff;
}

.panel-top{
    position: absolute;
    min-width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.panel-top .btn-up{
    z-index: 999;
    padding: 5px 25px;
    border-bottom: 1px solid #d6d6d6;    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color:rgba(0, 0, 0, 0.5);
    transition: 0.3s all;
}

.btn-up:hover{
    padding: 10px 30px 16px 30px;
    background-color: rgb(3,42,81);
    color: white;
}
.min-w-125{
    min-width: 200px;
}



/* panel menu gestor */
.contenedor-general-2{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(245,249,250);
    overflow-x: hidden;
}
.content-menu-2{
	position: fixed;
	overflow: auto;
	height: 100vh;
	width: 370px;
	padding: 20px 20px;
	z-index: 9;
    transition: 0.3s all;
    background-color: rgb(245,249,250);
}
.content-menu-2::-webkit-scrollbar{
    width: 6px;
    background-color: #efefef;
}
.content-menu-2::-webkit-scrollbar-thumb{
    background-color: rgb(245,249,250);
}

.content-body-2{
    margin-left: 370px;
    background-color: rgb(245,249,250);
    transition: 0.3s all;
    overflow-x: hidden;
}

.abrir-menu-2{
	transform: translateX(-360px);
}
.p-left-menu-2{
	margin-left: 10px;
}



.btn-blue{
    background-color: rgb(3,42,81);
    color: #ffff;
}
.btn-blue:hover{
    background-color: rgb(3,42,81);
    color: #ffff;
}

.btn-outline-blue{
    border: 1px solid rgb(3,42,81);
    color: black;
}
.btn-outline-blue:hover{
    background-color: rgb(3,42,81);
    color: #ffff;
}
.btn-outline-green{
    border: 1px solid #41afa5;
    color: black;
}
.btn-outline-green:hover{
    background-color:#41afa5;
    color: #ffff;
}
.btn-outline-red{
    border: 1px solid red;
    color: black;
}
.btn-outline-red:hover{
    background-color:red;
    color: #ffff;
}

@media only screen and (max-width: 992px){
    .subheader-title {
        line-height: 32px;
        font-weight: 300;
    }
}

.bg-gray-2{
    background-color: rgb(245,249,250);
}


.panelEstandar{
    background-color: #ffff;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 20px 12px 5px 12px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: auto;
}

fieldset {
    border: 0.3px solid rgb(219, 219, 219);
    padding: 0px 10px 14px 10px;
    width: 100%;
}
legend{
    padding: 0px;
    font-size: 12px;
    width: auto;
    margin: 0;
}

.table-responsive::-webkit-scrollbar{
    width: 6px;
    background-color: #efefef;
}
.table-responsive::-webkit-scrollbar-thumb{
    background-color: rgb(245,249,250);
}

.panelEstandar::-webkit-scrollbar{
    width: 10px;
    background-color: #efefef;
}
.panelEstandar::-webkit-scrollbar-thumb{
    background-color: rgb(245,249,250);
}

.pos_fixed{
    position: fixed;
}

@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    } 
  }
      
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown; 
    -webkit-animation-duration:.25s;
    animation-duration: .5s;
  }
    
    
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1; }
    to {
      opacity: 0; } 
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1; }
    to {
      opacity: 0; } 
  }
  
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut; 
  }
  
  @keyframes slideInUp {
	from {
	  transform: translate3d(0, 100%, 0);
	  visibility: visible;
	}
  
	to {
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .slideInUp {
	animation-name: slideInUp;
	animation-duration: 0.95s;
  }


  @keyframes slideInDown {
    from {
      transform: translate3d( 0,-100%,0);
      visibility: visible;
    }
    
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    animation-name: slideInDown;
    animation-duration: 0.95s;
  }

  @-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-duration: 0.7s;
  }
  
  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    animation-duration: 0.4s;
  }

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration:.50s;
    animation-duration: .50s;
  }
  
  
  
  @-webkit-keyframes fadeInRight {
    from {
      transform: translate(350px,0);
    }
    to {
      transform: translate(0,0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      transform: translate(350px,0);
    }
    to {
      transform: translate(0,0);
    }
  }
      
  .fadeInRight{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight; 
    -webkit-animation-duration:.50s;
    animation-duration: .50s;
  }
  
  .btns-lateral{
    position:fixed;
    right: 0;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index:999;
  }

  .btn-lateral{
    text-decoration: none;
    /* display: flex; */
    transition: all .5s;
    padding: .6rem 1.3rem .6rem .6rem;
    color: #ffff;
    background: rgb(7, 65, 122);
    border-radius: 12px 0 0 12px;
  }

  .btn-lateral:hover{
    padding-right: 2.5rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.42);
    text-decoration: none;
    color: #ffff;
   }

   .texto-vertical {
    width:5px;
    word-wrap: break-word;
    text-align:center;
    font-size: 11px;
   }

   .modal-dialog-rigth{
    display: flex;
    right: 0;
    left: auto;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    width: 400px;
    z-index:999999;
  }
  
  .modal-dialog-left{
    display: flex;
    right: auto;
    left: 0;
    margin-left: 0;
    margin-right:auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;  
    z-index:999999;  
  }
  
  .modal-dialog-top{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: auto;
    min-width: 100vw;
    z-index:9999999;
    padding: 0;
  }
  .panel-carga{
    position:fixed;
    top:65px;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height: 100%;
    min-height: 100vh;
    max-height:100%;
    z-index:999999;
  }

  .border-blue{
    border-right: 0.5px solid rgb(3,42,81);
  }

.modal::-webkit-scrollbar{
    width: 10px;
    background-color: #dbdbdb;
}
.modal::-webkit-scrollbar-thumb{
    background-color: rgb(238, 238, 238);
}

.menu-card{
  min-width: 180px;
  max-width: 180px;
  width: 180px;
  min-height: 150px;
  border: 1.6px solid rgb(3,42,81);
  border-radius: 8px;
  color: black;
  margin: 5px;
  transition: all .5s;
  text-decoration: none;
}

.menu-card:hover{
  background-color: rgb(3,42,81);
  color: white;
  cursor: pointer;
  text-decoration: none;
}


/* bandeja sms */
.overflow-auto::-webkit-scrollbar{
  width: 7px;
  background-color: #ffffff;
}
.overflow-auto::-webkit-scrollbar-thumb{
background-color: rgb(214, 214, 214);
}
.bg-gray-top{
background-color: rgb(250, 250, 250);
}
.btn-blue-hover{
	color:black;
  text-decoration: none;
}
.btn-blue-hover:hover{
	background-color:#3490dc;
	color:#ffff;
	text-decoration: none;
}

.btn-blue-hover-active{
	background-color:#3490dc;
	color:#ffff;
}

.bg-blue-2{
	background-color:#3490dc;
	color:#ffff;
}

.text-gray-light{
	color: rgba(255,255,255,.7);
}
.text-gray-2{
	color: rgba(0,0,0,.6);
}

.chat{
	box-sizing: content-box;
	max-width: 65%;
	position: relative;
}

.panel-list-btns{
  display: flex;
  flex-direction: column;
}

/* criterios panel detalle */
.tittle-criterios{
	padding: 0px 45px;
	font-weight: 600;
}
.criterios ul{
	list-style:none;
	padding: 0px;
}

.criterios ul li{
	list-style:none;
}

.criterios ul li:hover{
	background: rgb(226, 240, 251);
}

.criterios ul li a{
	text-decoration: none;
	color: black;
  text-align: left;
  padding: 10px 45px;
}

/* card info */
.card-inf{
	border-radius: 15px;
  background: #fff;
	margin-bottom: 25px;
	line-height: 10px;
}

.card-inf .text-num{
	font-size: 28px;
	font-weight: 600;
}

.card-inf .text-num-p{
	font-size: 23px;
	font-weight: 600;
}

/* colors estados */
.bg-green-light{
	background: rgb(216, 255, 216);
	border: 1px solid rgb(133, 244, 161);
}
.bg-gray-light{
	background: rgb(245, 245, 245);
	border: 1px solid rgb(189, 189, 189);
}
.bg-red-light{
	background: rgb(241, 182, 182);
	border: 1px solid rgb(209, 94, 94);
}
.bg-blue-light{
	background: rgb(208, 238, 252);
	border: 1px solid rgb(78, 209, 209);
}

/* ------------------------------ */
.frmmonto .form-control:disabled, .form-control[readonly] {
  background-color: #ffffff;
  opacity: 1;
}
.form-crear .form-sb{
	background-color:rgb(248,250,252);
}

.input-sb{
	border: none;
	border-bottom: 1.5px solid rgb(185, 185, 185);
	transition: all 0.3s;
}
.input-sb:focus{
	border: none;
	border-bottom: 1.5px solid #3367d6;
	transition: all 0.3s;
	box-shadow: none;
}

.input-color{
	border: none;
	border-bottom: 1.5px solid #3367d6;
	transition: all 0.3s;
	box-shadow: none;
}

.btn-light {
  color: #212529;
  background-color: #ffff;
  border-color: #c7c7c7;
}

.spinner-blue{
  color:rgb(3,42,81);
}

#table-2 tbody tr:last-of-type {
  border-bottom: 2px solid #fff;
}

#modalCarga{
  background-color: rgba(0,0,0,.4);
}

/* input[type="checkbox"] + label::before{
  background-color: rgb(3,42,81);
}
.form-check-input{
  background-color: rgb(3,42,81);
} */

.btn-active{
  background-color: rgb(3,42,81);
  color: #ffff;
}
.btn-white{
  background-color: #fff;
  color:black;
}

.table-report table td{
    min-width: 4rem;
}

#table-report table td:nth-child(1){
  min-width: 8rem;
}
#table-report table td:nth-child(2){
  min-width: 8rem;
}
#table-report table td:nth-child(16){
  min-width: 4rem;
}
#table-report table td:nth-child(17){
  min-width: 4rem;
}
.btn-hover:hover{
  background-color: rgb(3,42,81);
  color: #fff;
}
.border-puntos{
  border: 2px dashed rgb(3,42,81);
  height: 350px;
  border-radius: 10px;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color:rgb(7, 65, 122);
  border-color: rgb(7, 65, 122);
}

.bg-blue-3{
  background-color: rgb(7, 65, 122);
}

#tooltip {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  /* border-bottom: 1px dotted black; */
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(7, 65, 122);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -50%;
  margin-left: -90px;
  opacity: 0;
  transition: opacity 0.3s;
}

#tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 87%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgb(7, 65, 122) transparent transparent transparent;
}

#tooltip .tooltiptext2 {
  width: 150px;
}
#tooltip .tooltiptext2::after {
  left: 67%;
}
#tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* tooltip centrado */
#tooltip .tooltiptextc {
  visibility: hidden;
  width: 200px;
  background-color: rgb(7, 65, 122);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 5;
  bottom: 125%;
  left: -40%;
  margin-left: -90px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 11px;
}

#tooltip .tooltiptextc::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 52%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgb(7, 65, 122) transparent transparent transparent;
}

#tooltip:hover .tooltiptextc {
  visibility: visible;
  opacity: 1;
}

/* toltip respuesta */
#tooltip .tooltiptextr {
  visibility: hidden;
  width: 120px;
  background-color: rgb(7, 65, 122);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 5;
  bottom: 125%;
  left: 27%;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 11px;
}

#tooltip .tooltiptextr::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 52%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgb(7, 65, 122) transparent transparent transparent;
}

#tooltip:hover .tooltiptextr {
  visibility: visible;
  opacity: 1;
}

.content-menu::-webkit-scrollbar{
  width: 6px;
  background-color: #efefef;
}
.content-menu::-webkit-scrollbar-thumb{
  background-color: rgb(245,249,250);
}

#panelDetalleClientePdp{
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal-backdrop {
  z-index: 9;
}